@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Poppins Font */


/* Root Variables */
:root {
  --background: 245, 245, 245; /* Light mode background */
  --foreground: 51, 51, 51; /* Text color */
  --muted: 245, 245, 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 18, 18, 18; /* Dark mode background */
    --foreground: 245, 245, 245;
    --muted: 34, 34, 34;
  }
}


/* Global Body Styles */
body {
  font-family: 'Poppins';
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
